@import "prefixer";
@import "icon-fonts";

@jellyblue: #569ea0;
@jellygreen: #35a569;
@break-smaller: 1100px;
@break-smallest: 900px;
@nav-width: 40%;
@nav-width-smaller: 35%;
@nav-width-smallest: 4em;

html, body {
  height: 100%;
  position: relative;
  font-family: "Lato", "sans-serif";
}

ul, li {
  padding: 0;
  margin: 0;
}

.cf {
  clear: both;
}

.jelly {
  position: fixed;
  overflow: hidden;
  bottom: -16px;
}

#jelly-hidden {
  display: none;
}

nav {
  letter-spacing: .5px;
  width: @nav-width;
  background-image: url("/images/1.jpg");
  background-position-x: 100%;
  background-size: cover;
  height: 100%;
  position: fixed;

  .nav-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
  }

  @media only screen and (max-width: @break-smaller) {
    width: @nav-width-smaller;
  }
  @media only screen and (max-width: @break-smallest) {
    width: @nav-width-smallest;
  }
}

nav.nav-desktop {
  z-index: 1;

  .nav-wrapper {
    margin: 4em;
    text-align: right;
  }

  .nav-logo {
    text-align: center;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    transition: color .2s;
    &:hover, &.active {
      color: @jellyblue;
    }
    &:focus {
      outline: 0;
    }
  }

  @media only screen and (max-width: @break-smallest) {
    display: none;
  }
}

nav.nav-mobile {
  z-index: 0;

  .nav-wrapper {
    text-align: center;
  }

  .nav-logo {
    position: relative;
    margin-top: 1em;
    display: inline-block;
  }

  #nav-active {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    transition: color .2s;
    &:hover {
      color: @jellyblue;
    }
    &:focus {
      outline: 0;
    }
  }

  .icon {
    font-size: 1.5em;
    padding: .5em;
  }
}

.nav-gradient {
  position: relative;

  &:after {
    .gradient-left(@jellyblue, @jellyblue, @jellygreen);
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 1.8em;
  }
}

.thin {
  font-family: "Raleway", "sans-serif";
}

article {
  width: 100% - @nav-width;
  float: right;
  @media only screen and (max-width: @break-smaller) {
    width: 100% - @nav-width-smaller;
  }
  @media only screen and (max-width: @break-smallest) {
    width: 100%;
  }
}

section {
  padding: 4em;
  max-width: 560px;
  @media only screen and (max-width: @break-smallest) {
    padding: 0.5em 2em 2em 6em;
  }
}

.segment + .segment {
  border-top: solid 1px #d4d4d4;
}

.intro {
  margin-top: 2.5em;
  color: #5a5a5a;
  h1 {
    font-weight: 400;
  }
  .thin {
    margin-top: -.9em;
    font-size: 1.5em;
  }
  button {
    font-family: "Lato", "sans-serif";
    color: #ffffff;
    border-width: 0;
    border-radius: 3px;
    padding: 1em 1.7em;
    font-weight: 100;
    outline: none;
    margin-top: 1.7em;
    .gradient-left(@jellyblue, @jellyblue, @jellygreen);
  }
  @media only screen and (max-width: @break-smallest) {
    margin: 2.5em auto;
  }
}